
<!-- Intro to About Us page -->
<!-- <section class="padding bck color">
  <div class="row ">
    <div class="column_10 offset_1 text center book margin-bottom">
      <h1 class="color theme">About Us</h1>
        <br>
           <p> 
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum nisl sit amet ante placerat adipiscing.</h3>
          </p>
    </div>
  </div>
</section> -->



<!-- Dr. Fatoki Background & Philosophy of Care -->
<section class="padding bck theme">
  <div class="row">
    <div class="column_9">
      <article class="row">
        <div class="column_12 margin-bottom">
          <h2 class="text bold" id="physician-name">Adeyemi Fatoki MD, MPH</a></h2>
            <h5>Board Certified in <strong>Family Medicine</strong>, <strong>Bariatrics</strong> & <strong>Addiction Medicine</strong></h5>
    </div>

        <div class="column_12">
            <!-- <br> -->
        	<h5 class="text bold" id="physician-background">Bio</h5>
            <br>
        </div>
            <p class="column_7 align text justify">
              Dr. Fatoki trained at Cook County Hospital and graduated from the University of Illinois medical school. He holds a Master's in Public Health from the University of Illinois and a Master's in Addiction from Governor's State.
                <br><br>
              He has designed a unique lifestyle modification program targeting obesity and obesity-related disorders. Dr. Fatoki's program is based on the foods you already eat and is not a diet. His program has been extrememly effective treating chronic illnesses such as high blood pressure, high cholesterol, diabetes, high triglycerides and sleep anea. In 2010 and 2011 he was recognized for leading one of the VA's High Performing PACT Teams, one of the only physicians to ever receive that designation in consecutive years. <br>
            </p>
                   
        <div class="column_5 img h256 margin-bottom"></div>
                
              <p class="column_12 align text justify">
                <br>
                Dr. Fatoki is also the founder of PHTS, a software that allows patients decrease doctor's office wait times by filling fill out forms/questionnaires online before visits. He is extremely interested in new ways to use technology to improve medicine.

                <br><br>

                Dr. Fatoki is Certified to treat Suboxone and Methadone, and serves as a treatment advisor for Suboxone. In addition to his private practice, he also has extensive correctional experience.
              </p>
      </article>   
    </div>
  </div>
</section>


<!-- Office Staff -->

<section class= "padding bck color">
  <div class="row">
		<h1 class="text bold align center">Office Staff</h1>
      <div class="column_3 align center">
        <h4 class="text bold padding-top padding-bottom">Dorcas Williams</h4>
          <img src="/assets/img1_thumb.jpg">
            <p class="text normal margin-top margin-bottom">Office Manager</p>
      </div>
      <div class="column_3 align center">
        <h4 class="text bold padding-top padding-bottom align center">Dorothy</h4>
          <img src="/assets/img2_thumb.jpg">
            <p class="text normal margin-top margin-bottom">(Title)</p>
      </div>
      <div class="column_3 align center">
        <h4 class="text bold padding-top padding-bottom">Megan</h4>
          <img src="/assets/img3_thumb.jpg">
            <p class="text normal margin-top margin-bottom">(Title)</p>
      </div>
      <div class="column_3 align center">
        <h4 class="text bold padding-top padding-bottom">Sonia</h4>
          <img src="/assets/img3_thumb.jpg">
            <p class="text normal margin-top margin-bottom">(Title)</p>
      </div>
      <div class="column_3 align center">
        <h4 class="text bold padding-top padding-bottom">Marcia</h4>
          <img src="/assets/img1_thumb.jpg">
            <p class="text normal margin-top margin-bottom">(Title)</p>
      </div>
      <div class="column_3 align center">
        <h4 class="text bold padding-top padding-bottom">Linda</h4>
          <img src="/assets/img2_thumb.jpg">
            <p class="text normal margin-top margin-bottom">(Title)</p>
      </div>
      <div class="column_3 align center">
        <h4 class="text bold padding-top padding-bottom">Edith</h4>
          <img src="/assets/img3_thumb.jpg">
            <p class="text normal margin-top margin-bottom">(Title)</p>
      </div>
      <div class="column_3 align center">
        <h4 class="text bold padding-top padding-bottom">Toya</h4>
          <img src="/assets/img3_thumb.jpg">
            <p class="text normal margin-top margin-bottom">(Title)</p>
      </div>
</section>


