<section class="padding bck dark">
        <div class="row ">
            <div class="column_10 offset_1 text center book margin-bottom">
                <h1 class="color theme">Drug Treatment</h1>
                <br>
                    <p> 
                        <h3 class="text bold">Addiction is a chronic illness. We have over 7 years of experience treating patients with dignity and respect.
                        </h3>
                    </p>
             </div>
        </div>
</section>



<section class="padding bck theme">
        <div class="row">
                            <h4 class="">Discreet</h4>
                                <p class="margin-bottom">
                                   We offer Methadone and Suboxone treatment in a discreet office setting. Don't worry about feeling insecure; visit our clinic for the care you deserve.
                            </p>
                             
                                <br>
                            <h4>Patient-Focus </h4>
                                <p class="margin-bottom">We make our patients and their overall health the priority at all times. We do our best to make patients feel like family, even offering a free week of medication for patients' birthdays</p>
                                <br>
                            <h4>Counseling</h4> 
                            <p class="margin-bottom">
                                
                                    We have counselors on staff to guide you through recovery recovery. Flexible hours make us the best solution for anyone with a job and/or families.
                            </p>
                                <br>
                            <h4>Special Programs</h4> 
                            <p class="margin-bottom">
                                
                                    We have an annual recognition banquet to celebrate of our compliant patients. 
                            </p>

        </div>
</section>




  


   