<% set_meta_tags :site => 'Great Heights Family Medicine', :title => 'Drug Treatment' %>
<% set_meta_tags :description => "We provide Methadone & Suboxone treatment for opioid dependence in a discreet, office setting, with counseling and special programs to encourage/celebrate the recovery of our patients." %>

<section class="padding bck dark">
        <div class="row ">
            <div class="column_10 offset_1 text center book margin-bottom">
                <h1 class="color theme">Drug Treatment</h1>
                <br>
                    <p> 
                        <h3 class="">Addiction is a chronic illness. We have over 7 years of experience treating patients with dignity and respect.
                        </h3>
                    </p>
             </div>
        </div>
</section>

<section class="padding bck white">
    <div class="row">
        <h3 class="text underline">Facts</h3>
            <h5>Over 20 million Americans struggle with addiction everyday. Unfortunately fewer than 10% actually receive treatment. Understanding that addiction is a treatable illness is one of the first steps in determining that long-term recovery is possible.</h5>
            <br><br>
        <h3 class="text underline">Treatment</h3>
            <h5>Breaking an opioid addiction can be extremely difficult. Methadone &amp; Suboxone are not cures for addiction, but treatments that can be very effective if taken properly.
                <br><br>
        <h3 class="text underline">Effects</h3>
            <h5>
                Methadone &amp; Suboxone are long-acting, synthetic medications which will:</h5>
                    <br>
                <p>
                    <li class="text bold" style="padding-left:3em;">Prevent opioid withdrawal symptoms</li><br>
                    <li class="text bold" style="padding-left:3em;">Stop the patient’s physical need for opioids and allow him/her to function in their required daily activities</li><br>
                    <li class="text bold" style="padding-left:3em;">Block the effects of illicit opioid use and decrease opioid craving</li>
                </p>
                
            
    </div>
</section>



<section class="padding bck theme">
        <div class="row">
            <h2 class="align center text bold" id="features">Why join our program?</h2><br>
                    <%= image_tag('team.jpg', :class => "column_6 padding", :width => "100%") %>
                            <h4 class="">Discreet</h4>
                                <p class="margin-bottom">
                                   We offer Methadone and Suboxone treatment in a discreet office setting. Don't worry about feeling insecure; visit our clinic for the care you deserve.
                            </p>
                             
                                <br>
                            <h4>Patient-Focus </h4>
                                <p class="margin-bottom">We make our patients and their overall health the priority at all times. We do our best to make everyone feel like family, even offering a free week of medication for patients' birthdays</p>
                                <br>
                            <h4>Counseling</h4> 
                            <p class="margin-bottom"> Our on-site counselors are here to help guide you through recovery. We even offer flexible hours, including nights and weekends, for patients with jobs and/or families.
                            </p>
                                <br>
                            <h4>Special Programs</h4> 
                            <p class="margin-bottom">We host an annual recognition banquet to celebrate the recovery of our compliant patients. Each recipient is encouraged to bring a loved one who has been insrumental in the recovery process.
                            </p>
                                <br><br>

                            <div class="row align center">
                                <div class="column_6 offset_3">
                                    <a href="tel:7088628156" class="button large anchor" id="drugtreament-telephone-button"><span class="icon phone"></span>Give us a call at <br> (708) 862-8156 </a>
                            </div>

        </div>
</section>




  


   