<% set_meta_tags :site => 'Great Heights Family Medicine', :title => 'Immigration Physicals' %>
<% set_meta_tags :description => "We specialize in USCIS Immigration Exams, as well as making sure you complete the paperwork properly and get any labs or shots needed to receive your green card or become a citizen" %>


<section class="padding bck dark">
        <div class="row ">
            <div class="column_10 offset_1 text center book">
                <h1 class="color theme">Immigration Physicals</h1>
                    
             </div>
        </div>
</section>



<section class="padding bck theme">
        <div class="row">
            <div class="column_9">
                     <h2 class="">USCIC Certified Civl Surgeon</h2><br>
                                <p class="margin-bottom">
                                   We are a USCIC Certified Civil Surgeon's office. The fee for your visit covers the physical exam and necessary blood tests. Any chest x-rays or vaccines are an additional cost.
                            </p>
                             
                              
                   
            </div>
        </div>
    </section>



  