


      <!-- TukTuk Footer -->
      <footer class="bck theme padding">
        <div class="row margin-top margin-bottom">
          <div class="column_6">
            <p class="text bold big"> Interested in making an appointment or have any additional questions?</p>
              <br>
               Call our <strong>Ottawa</strong> office at <a href="tel:8154340228"> <span class="text normal">(815) 434-0228 </span></a><span class="icon phone"></span>
            </div>
          <div class="column_6">
            <div class="text align center margin-top">
              <br>
              <p class="">Check out <a href="https://nofatmd.herokuapp.com" target="_blank" class="text underline">Dr. Fatoki's blog</a> to learn more about our philosophy of care.</a></p>

            </div>
          </div>
        </div>
      </footer>

   